{
    "root": true,
    "extends": "eslint:recommended",
    "rules": {
    },
    "env": {
        "es2022": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module"
    }
}